.btn {
  &,
  &:visited,
  &:link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.3rem 1.8rem;
    display: inline-block;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
    transition: all 0.2s;
    color: #fff;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    outline: none;
    transform: translateY(-1px);
  }

  &--lightblue {
    background-color: $color-blue-first;
  }

  &--add {
    background-color: $color-blue-third;
    align-self: flex-end;
  }

  &--back {
    background-color: $color-blue-first;
    align-self: flex-end;
    margin-left: auto;
    @media screen and (max-width: 32.5em) {
      align-self: flex-end;
    }
  }

  &--delete {
    background-color: $color-danger;
    align-self: flex-end;
    @media screen and (max-width: 32.5em) {
      align-self: flex-end;
      margin-bottom: 0.5rem;
    }
  }

  &--update {
    background-color: $color-warning;
    align-self: flex-end;
    margin-left: 1rem;
    @media screen and (max-width: 32.5em) {
      align-self: flex-end;
      margin-bottom: 0.5rem;
    }
  }
  &--edit {
    padding: 0.2rem;
    background-color: transparent;
  }
}
