.form__input {
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga($color-white, 0.5);
  border: none;
  border-bottom: 1px solid $color-gray-first;
  width: 80%;
  display: block;
}
.form__input:active,
.form__input:focus {
  outline: none;
  border-bottom: 2px solid $color-blue-second;
}
.form__text {
  font-size: 1.3rem;
  color: $color-gray-first;
  align-self: center;
  width: 80%;
}

.form__radio-label {
  color: $color-gray-first;
  font-size: 1.4rem;
}
