//COLORS
$color-white: #fff;
$color-black: #000;

$color-blue-first: rgba(30, 144, 255, 1);
$color-blue-second: rgba(0, 0, 128, 1);
$color-blue-third: #1565c0;

$color-danger: #f44336;

$color-warning: #ff9800;

$color-gray-first: #655a56;
$color-gray-second: #9e9e9e;
//FONT
